{% extends 'base.html.twig' %}

{% block pageTitle %}
	Détails du trajet #{{ ride.id }}
{% endblock %}

{% block body %}
	<div class="container h-100">
		<div class="row h-100 justify-content-center align-items-center">
			<div class="col-6">
				<div class="card">
					<div class="card-header bg-primary text-white">
						Trajet #{{ ride.id }}
					</div>
					<div class="card-body">
						<h5 class="card-title">De
							{{ ride.departure }}
							à
							{{ ride.destination }}</h5>
						<p class="card-text">
							<strong>Conducteur :</strong>
							{{ ride.driver.firstName }}
							{{ ride.driver.lastName | first | upper }}.
						</p>
						<p class="card-text">
							<strong>Date de départ :</strong>
							{{ ride.date | date('d/m/Y H:i') }}
						</p>
						<p class="card-text">
							<strong>Nombre de places disponibles :</strong>
							{{ ride.seats }}
						</p>
						<p class="card-text">
							<strong>Prix :</strong>
							{{ ride.price }}€
						</p>
						<p class="card-text">
							<strong>Règles :</strong>
							<ul>
								{% for rule in ride.rules %}
									<li>{{ rule.name }}
										:
										{{ rule.description }}</li>
								{% endfor %}
							</ul>
						</p>
					</div>
					{% if not app.user or app.user.id != ride.driver.id %}
						<a href="{{ path('app_ride_delete', {'id': ride.id}) }}" class="btn btn-danger">Réserver</a>
					{% elseif app.user.id == ride.driver.id %}
						<a href="{{ path('app_ride_edit', {'id': ride.id}) }}" class="btn btn-warning">Modifier</a>
						<a href="{{ path('app_ride_delete', {'id': ride.id}) }}" class="btn btn-danger">Supprimer</a>
					{% endif %}


				</div>
			</div>
		</div>
	</div>

{% endblock %}
