{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid roadsContainer">
		<div class="row h-100 d-flex align-items-center justify-content-center overflow-auto">
			<div class="col-lg-4">
				<div class="card shadow mb-4 animate__animated animate__fadeInLeft">
					<div class="card-header bg-primary text-white">
						<h5 class="card-title mb-0 d-flex align-items-center">
							<i class="fas fa-filter me-2"></i>
							Filtre des trajets
						</h5>
					</div>
					<div class="card-body">
						{{ form_start(filter_form, {'attr': {'class': 'form-horizontal'}}) }}
						<div class="mb-3">
							<div class="input-group">
								<span class="input-group-text">
									<i class="fas fa-road"></i>
								</span>
								{{ form_widget(filter_form.departure, {'attr': {'class': 'form-control', 'placeholder': 'Départ'}}) }}
							</div>
						</div>
						<div class="mb-3">
							<div class="input-group">
								<span class="input-group-text">
									<i class="fas fa-map-marker-alt"></i>
								</span>
								{{ form_widget(filter_form.destination, {'attr': {'class': 'form-control', 'placeholder': 'Destination'}}) }}
							</div>
						</div>
						<div class="mb-3">
							<div class="input-group">
								<span class="input-group-text">
									<i class="fas fa-users"></i>
								</span>
								{{ form_widget(filter_form.minSeats, {'attr': {'class': 'form-control', 'placeholder': 'Nombre minimum de places'}}) }}
							</div>
						</div>
						<div class="mb-3">
							<div class="input-group">
								<span class="input-group-text">
									<i class="fas fa-euro-sign"></i>
								</span>
								{{ form_widget(filter_form.maxPrice, {'attr': {'class': 'form-control', 'placeholder': 'Prix maximum'}}) }}
							</div>
						</div>
						<button class="btn btn-primary mt-3" type="submit">
							<i class="fas fa-search me-2"></i>
							Appliquer les filtres
						</button>
						{{ form_end(filter_form) }}
					</div>
				</div>
				<div class="row">
					{% for ride in rides %}
						<div class="col-lg-12  data-aos=" fade-up"">
							<div class="card card4 shadow-sm m-2 animate__animated animate__zoomIn">
								<div class="card-header">
									<h5 class="card-title">
										<i class="fas fa-road"></i>
										De
										{{ ride.departure }}
										à
										{{ ride.destination }}
									</h5>
								</div>
								<div class="card-body d-flex justify-content-center flex-column">
									<p class="card-text">
										<strong>
											<i class="fas fa-user"></i>
											Conducteur :</strong>
										{{ ride.driver.firstName }}
										{{ ride.driver.lastName | first | upper }}.
									</p>
									<p class="card-text">
										<strong>
											<i class="fas fa-clock"></i>
											Date de départ :</strong>
										{{ ride.date | date('d/m/Y H:i') }}
									</p>
									<p class="card-text">
										<strong>
											<i class="fas fa-chair"></i>
											Nombre de places disponibles :</strong>
										{{ ride.seats }}
									</p>
									<p class="card-text">
										<strong>
											<i class="fas fa-euro-sign"></i>
											Prix :</strong>
										{{ ride.price }}€
									</p>
									{# <p class="card-text">
																			<strong>
																				<i class="fas fa-list"></i>
																				Règles :</strong>
																			<ul>
																				{% for rule in ride.rules %}
																					<li>{{ rule.name }}
																						:
																						{{ rule.description }}</li>
																				{% endfor %}
																			</ul>
																		</p> #}
								</div>
								<div class="card-footer text-muted text-center">
									<a href="{{ path('app_ride', {'id': ride.id}) }}" class="btn btn-primary">
										<i class="fas fa-eye"></i>
										Voir les détails</a>
								</div>
							</div>
						</div>
					{% else %}
						<div class="col-12 text-center animate__animated animate__bounceIn">
							<p>Aucun trajet à afficher pour le moment.</p>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js">
		AOS.init()
	</script>

{% endblock %}
