<header class="header">
	<div class="subHeader">
		<a href="{{path('app')}}" class="logo">LOGO</a>
		<input class="side-menu" type="checkbox" id="side-menu">
		<label class="burgerMenu" for="side-menu">
			<span class="burgerMenu-line"></span>
		</label>
		<nav class="nav">
			<ul class="navlinks">
				{% if not app.user %}
					<li class="loginButton">
						<a href="{{path('app_register')}}">INSCRIPTION</a>
					</li>
				{% endif %}
				<li>
					<a href="{{path('app_ride')}}">VOIR LES ANNONCES</a>
				</li>
				<li>
					<a href="{{path('app_add_ride')}}">PUBLIEZ VOTRE ANNONCE</a>
				</li>
				{% if not app.user %}
					<li class="signInButton">
						<a href="{{path('app_login')}}">SE CONNECTER</a>
					</li>
				{% else %}
					<li>
						<a href="{{path('app_logout')}}">SE DECONNECTER</a>
					</li>
				{% endif %}
			</ul>

		</nav>
	</div>
</header>
