{% extends 'base.html.twig' %}

{% block title %}
	Dashboard |
	{{app.user.firstName}}
	{{app.user.lastName}}
{% endblock %}

{% block body %}
	<div class="roadsContainer overflow-auto">
		<div class="container py-5">
			<div class="row mt-5">
				<div class="col-sm-6 col-lg-3">
					<div class="card text-center bg-primary text-white mb-3">
						<div class="card-body">
							<h5 class="card-title">
								<i class="fas fa-car fa-2x"></i>
							</h5>
							<p class="card-text">Véhicules :
								{{app.user.cars | length}}</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="card text-center bg-success text-white mb-3">
						<div class="card-body">
							<h5 class="card-title">
								<i class="fas fa-road fa-2x"></i>
							</h5>
							<p class="card-text">Covoiturages proposés :
								{{app.user.rides | length}}</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="card text-center bg-info text-white mb-3">
						<div class="card-body">
							<h5 class="card-title">
								<i class="fas fa-user fa-2x"></i>
							</h5>
							<p class="card-text">Voyages en tant que passager :
								{{app.user.rides | length}}</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="card text-center bg-warning text-white mb-3">
						<div class="card-body">
							<h5 class="card-title">
								<i class="fas fa-list-ul fa-2x"></i>
							</h5>
							<p class="card-text">Règles créées :
								{{app.user.rules | length}}</p>
						</div>
					</div>
				</div>
			</div>

			<div
				class="row">
				<!-- User Info Card -->
				<div class="col-12 col-md-6 mb-4">
					<div class="card shadow">
						<div class="card-header bg-primary text-white">
							<h5 class="card-title mb-0">
								<i class="fas fa-user-circle"></i>
								Mes Informations Personnelles
							</h5>
						</div>
						<div class="card-body d-flex justify-content-center flex-column">
							<p class="card-text mb-2">
								<h5 class="card-title mb-0">
									<i class="fas fa-user-circle"></i>
									{{app.user.firstName}}
									{{app.user.lastName}}
								</h5>
							</p>
							<p class="card-text mb-2">
								<i class="fas fa-envelope"></i>
								<strong>Email:
								</strong>
								{{app.user.email}}
							</p>
							<p class="card-text">
								<i class="fas fa-phone"></i>
								<strong>Téléphone :
								</strong>
								{{app.user.phone}}
							</p>
							<div class="text-center">
								<a href="{{ path('app_edit_user', { 'id': app.user.id }) }}" class="btn btn-primary mt-3">
									<i class="fas fa-edit"></i>
									Editer votre profil
								</a>
							</div>
						</div>
					</div>
				</div>


				<!-- Cars Card -->
				<div class="col-12 col-md-6 mb-4">
					<div class="card shadow">
						<div class="card-header bg-primary text-white">
							<h5 class="card-title mb-0">
								<i class="fas fa-car"></i>
								Mes Véhicules
							</h5>
						</div>
						<div class="card-body d-flex justify-content-center flex-column">
							{% for car in app.user.cars %}
								<div class="col-12 border rounded my-2 p-2">
									<div class="d-flex justify-content-between align-items-start">
										<div>
											<i class="fas fa-car fa-2x mb-2"></i>
											<!-- Nouvelle icône de voiture -->
											<p class="card-text">
												<strong>Marque :
												</strong>
												{{car.brand}}<br>
												<strong>Modèle :
												</strong>
												{{car.model}}<br>
												<strong>Nombre de places :
												</strong>
												{{car.seats}}<br>
											</p>
										</div>
										<div class="car-actions">
											<a href="{{ path('app_car_edit', { 'id': car.id }) }}" class="btn btn-warning btn-sm">
												<i class="fas fa-edit"></i>
												Modifier
											</a>
											<a href="{{ path('app_car_delete', { 'id': car.id }) }}" class="btn btn-danger btn-sm" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce véhicule ?')">
												<i class="fas fa-trash"></i>
												Supprimer
											</a>
										</div>
									</div>
								</div>
							{% endfor %}
							<div class="text-center">
								<a href="{{ path('app_add_car') }}" class="btn btn-primary mt-3">
									<i class="fas fa-plus"></i>
									Ajouter un véhicule
								</a>
							</div>

						</div>

					</div>
				</div>
				<div class="col-12">
					<div class="card shadow mb-4">
						<div class="card-header bg-primary text-white">
							<h5 class="card-title">
								<i class="fas fa-list"></i>
								Mes Règles
							</h5>
						</div>
						<div class="card-body d-flex justify-content-center flex-column">
							<ul class="list-unstyled">
								{% for rule in app.user.rules %}
									<li class="rule-item border rounded my-2 p-2">
										<div class="d-flex justify-content-between align-items-center">
											<div class="rule-details">
												<i class="fas fa-check"></i>
												<strong>{{ rule.name }}</strong>
												-
												{{ rule.description }}
											</div>
											<div class="rule-actions">
												<a href="{{ path('app_rule_edit', { 'id': rule.id }) }}" class="btn btn-warning btn-sm">
													<i class="fas fa-edit"></i>
													Modifier
												</a>
												<a href="{{ path('app_rule_delete', { 'id': rule.id }) }}" class="btn btn-danger btn-sm" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette règle ?')">
													<i class="fas fa-trash"></i>
													Supprimer
												</a>
											</div>
										</div>
									</li>
								{% else %}
									<p>Vous n'avez pas encore de règles définies.</p>
								{% endfor %}
							</ul>
							<div class="text-center">
								<a href="{{ path('app_add_rule') }}" class="btn btn-primary mt-3">
									<i class="fas fa-plus"></i>
									Ajouter une règle
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="card shadow mb-4">
						<div class="card-header bg-primary text-white">
							<h5 class="card-title mb-0">
								<i class="fas fa-route"></i>
								Mes Trajets
							</h5>
						</div>
						<div class="card-body">
							<div class="cardContainer">
								{% for ride in app.user.rides %}
									<div class="card card4 shadow-sm m-2">
										<div class="card-header">
											<h5 class="card-title">
												<i class="fas fa-road"></i>
												De
												{{ ride.departure }}
												à
												{{ ride.destination }}
											</h5>
										</div>
										<div class="card-body d-flex justify-content-center flex-column">
											<p class="card-text">
												<strong>
													<i class="fas fa-user"></i>
													Conducteur :</strong>
												{{ ride.driver.firstName }}
												{{ ride.driver.lastName | first | upper }}.
											</p>
											<p class="card-text">
												<strong>
													<i class="fas fa-clock"></i>
													Date de départ :</strong>
												{{ ride.date | date('d/m/Y H:i') }}
											</p>
											<p class="card-text">
												<strong>
													<i class="fas fa-chair"></i>
													Nombre de places disponibles :</strong>
												{{ ride.seats }}
											</p>
											<p class="card-text">
												<strong>
													<i class="fas fa-euro-sign"></i>
													Prix :</strong>
												{{ ride.price }}€
											</p>
											<p class="card-text">
												<strong>
													<i class="fas fa-list"></i>
													Règles :</strong>
												<ul>
													{% for rule in ride.rules %}
														<li>{{ rule.name }}
															:
															{{ rule.description }}</li>
													{% endfor %}
												</ul>
											</p>
										</div>
										<div class="card-footer text-muted text-center">
											<a href="{{ path('app_ride', {'id': ride.id}) }}" class="btn btn-primary">
												<i class="fas fa-eye"></i>
												Voir les détails</a>
										</div>
									</div>
								{% else %}
									<p class="text-center">Vous ne proposez aucun covoiturage actuellement.
										<a href="{{ path('app_add_ride') }}" class="text-primary">Ajouter un trajet ?</a>
									</p>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
